html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #1E293B;
  font-family: sans-serif;
  color: #F5835F;
  text-align: center;
}

.board {
  border: 2px solid #8C9AB1;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
}

.row {
  height: 10px;
  display: inline-flex;
  flex-direction: row;
}

.cell {
  width: 10px;
  height: 10px;
  color: white;
  border: 1px solid #1E293B;
  overflow: visible;
  position: relative;
}

.snake {
  width: 8px;
  height: 8px;
  background-color: #F5835F;
  position: absolute;
  z-index: 1;
}

.snake--0 {
  height: 10px;
  bottom: 0;
}

.snake--90 {
  width: 10px;
  left: 0;
}

.snake--180 {
  height: 10px;
  top: 0;
}

.snake--270 {
  width: 10px;
  right: 0;
}

.food {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-color: #fff;
}
